@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.campo {
    margin: 24px 0;
}

.campo label{
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--preto);
}

.campo input {
    background-color: var(--branco);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 24px;
    box-sizing: border-box;
}

.campo input::placeholder {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--fonte-secundaria);
    color: var(--cinza-secundario);
}

.campo-color input {
    height: 40px;
    padding: 5px 24px;
}