@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Prata&display=swap');
@import url('./componentes/Banner/Banner.css');
@import url('./componentes/CampoTexto/CampoTexto.css');

:root {
    --azul-principal: #6278F7;
    --branco: #FFF;
    --cinza: #AFAFAF;
    --preto: #212121;
    --fonte-principal: 'Prata', serif;
    --fonte-secundaria: 'Montserrat', sans-serif;


}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
