@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Prata&display=swap');
@import url('./componentes/Banner/Banner.css');
@import url('./componentes/CampoTexto/CampoTexto.css');
@import url('./componentes/Formulario/Formulario.css');
@import url('./componentes/ListaSuspensa/ListaSuspensa.css');
@import url('./componentes/Botao/Botao.css');
@import url('./componentes/Colaborador/Colaborador.css');
@import url('./componentes/Rodape/Rodape.css');

:root {
    --azul-principal: #6278F7;
    --branco: #FFF;
    --cinza: #F2F2F2;
    --preto: #212121;
    --fonte-principal: 'Prata', serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --cinza-secundario: #A4A4A4;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.times {
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #6278F7;
  border-bottom: 4px solid #6278F7;
  display: inline-block;
  padding-bottom: 24px;
  margin: 32px 0;
}

h1, h2 {
  font-family: 'Prata', serif;
}
